
        :root {
            --bg-dark: #000000;
            --surface: #0d0d0d;
            --border: rgba(255, 255, 255, 0.1);
        }
 * { margin:0; padding:0;-webkit-tap-highlight-color: transparent; scrollbar-width: thin;}

        body {
            background-color: var(--bg-dark);
            color: #fff;
            font-family: 'Hind Siliguri', sans-serif;
            margin: 0; padding: 0;
            overflow-x: hidden;
        }

        .sticky-top-area {
            position:initial ;
            top: 0;
            z-index: 1000;
            background: var(--bg-dark);
        }

        header {
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--border);
        }
        .logo { font-size: 18px; font-weight: 800; color: #fff; }

        .server-switcher {
            display: flex; gap: 5px; background: #111; padding: 3px; border-radius: 50px;
        }
        .srv-btn {
            background: transparent; color: #666; border: none; padding: 5px 12px;
            border-radius: 50px; font-size: 11px; font-weight: 700; cursor: pointer;
        }
        .srv-btn.active { background: #fff; color: #000; }

        .info-slider {
            background: #ffffff; 
            color: #000;
            padding: 8px 0;
            font-size: 14px;
            font-weight: 700;
            overflow: hidden;
            white-space: nowrap;
            border-bottom: 3px solid #ff0000;
        }
        .info-content {
            display: inline-block;
            animation: scroll-left 65s linear infinite;
            padding-left: 100%;
        }
        @keyframes scroll-left {
            0% { transform: translateX(0); }
            100% { transform: translateX(-100%); }
        }

        .video-box {
            background: #000;
            aspect-ratio: 16/7;
            width: 100%;
            max-width:1400;
            margin: 0 auto;
        }

        .container { max-width: 1400px; margin: 0 auto; padding: 0 10px; }

        /* সার্চ বক্স স্টাইল */
        .search-box-container {
            padding: 10px 0;
        }
        #ch-search {
            width: 100%;
            padding: 10px 15px;
            background: #111;
            border: 1px solid #222;
            border-radius: 6px;
            color: #fff;
            font-family: 'Hind Siliguri', sans-serif;
            font-size: 14px;
            outline: none;
            box-sizing: border-box;
        }
        #ch-search:focus { border-color: #444; }

        .tabs { 
            display: flex; overflow-x: auto; gap: 8px; padding: 10px 0; 
            scrollbar-width: none; background: var(--bg-dark);
        }
        .tab {
            background: #141414; border: 1px solid #222; color: #888;
            padding: 8px 18px; border-radius: 4px; font-size: 11px; font-weight: 700;
            cursor: pointer; white-space: nowrap;
        }
        .tab.active { background: #fff; color: #000; border-color: #fff; }

        .grid { display: grid; grid-template-columns: repeat(6, 1fr); gap: 8px; padding-bottom: 20px; margin-top: 10px; }
        .item {
            background: var(--surface); border: 1px solid #1a1a1a; border-radius: 8px;
            padding: 10px 5px; text-align: center; height: 95px;
            display: flex; flex-direction: column; align-items: center; justify-content: center;
            cursor: pointer;
        }
        .item.active { background: #fff; }
        .item.active .ch-name { color: #000; }
        .ch-name { font-size: 10px; font-weight: 700; color: #ccc; margin-top: 5px; }
        .ch-logo { width: 35px; height: 35px; object-fit: contain; }
    