     @import url('//fonts.googleapis.com/css2?family=PT+Sans:wght@700&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    color: red;
    height: 40px;
    padding: 0 10px;
    font-size: clamp(1.5rem, 2.0vw, 4rem); 
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(48, 25, 52);
}

body {
    background-color: #000;
    overflow-y: hidden;
}

main {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
}

#channels {
    flex: 24.8%;
    background-color: #000;
    max-height: 100vh;
    overflow-y: scroll;
    margin-top: 50px;
    margin-left: 0px;
    overflow-x: hidden;
   scrollbar-width:thin; 
}
.channel_collapse {
    margin-top: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#player {
    flex:100%;
    margin: auto 0px;
    margin-top: 0px;
    margin-left: 2px;
   
}
.category {
    width: 95%;
    color: #fff;
    background-color: #000;
    padding: 8px;
    border-bottom: solid 2px rgb(229, 238, 238);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-left: -5px;
}
.active, .category:hover {
    background-color: gray;
    border-radius: 10px;
    color: white;
  }
.category:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 10px;
}

.active:after {
  content: "\2212";
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #363636;
}

.channel {
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2px;
    cursor: pointer; 
    color:#fff;
    font-size:10px;
    text-align: center;
        
}

.channel p {font-size:12px; text-align: center; margin-top: 1px;color:#fff}

.channel:active {
    animation: press 0.2s 1 linear;
}


.channel img {
    width: 60px;
    height: 50px;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 640px) {
    nav {
        text-align: center;
    }
    main {
        flex-direction: column-reverse;
    }
    body {
        overflow-y: auto;
    }
    #channels {
        height: fit-content;
        overflow-y: unset;
        margin-left: 5px;
        margin-right: 5px;
    }
    .channel {
        margin-right: 0;
    }
    #player {
        flex: auto;
        min-width: 192px;
        min-height: 108px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

@keyframes press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.92);
    }
    to {
        transform: scale(1);
    }
}
